#lavori {
    .col-lg-4 {
        opacity: 0;
        transition: all 0.5s ease-in-out;

        &.entering {
            opacity: 0;
        }

        &.entered {
            opacity: 1;
        }

        &.exiting {
            opacity: 0;
        }
    }

    body.modalopen {
        overflow: hidden;
    }

    .backbtn {
        position: absolute;
        right: 2rem;
        top: 2rem;
        z-index: 100;
    }

    /* scrivere le proprietà NON animate dell'oggetto */
    .descwrapper {
        position: fixed;
        text-align: left;
        overflow: hidden;
        background-color: rgb(52, 93, 148);
        width: 100%;
        height: 100%;
        z-index: 1000;
        left: 0;

        .single {
            display: flex;
            height: 100%;
            justify-items: flex-start;

            img {
                margin-top: 0;
                width: 500px;
                height: 100%;
                object-fit: cover;
                position: relative;
                display: inline-block;

                @media (max-width: 991px) {
                    position: absolute;
                    z-index: 0;
                    min-width: 100%;
                }
            }

            .descwrap {
                opacity: 1;
                width: 400px;
                min-height: 300px;
                align-self: center;
                margin: 2rem;

                @media (max-width: 991px) {
                    position: absolute;
                    background-color: #345d94;
                    padding: 1rem;
                }

                .progdesc {
                    z-index: 1;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    transition: all 1s ease-in-out;
                    color: white;
                }

                .single-hover {
                    opacity: 0;
                    width: 100%;
                    z-index: 1000;
                    align-self: center;
                    transition: all 1s ease-in-out;
                    color: #fff;

                    a {
                        color: white;

                        h1 {
                            color: white;
                            font-size: 1.7rem;
                            font-style: italic;
                            border: 1px dotted white;
                            padding: 1rem;
                        }

                        &:hover {
                            color: #fff;
                        }

                        &:active {
                            color: #fff;
                        }
                    }
                }

                .more {
                    color: white;
                    font-size: 3rem;
                    text-align: right;
                }

                .more:hover .progdesc {
                    opacity: 0;
                    z-index: -1;
                    height: 0;
                }

                .more:hover .single-hover {
                    opacity: 1;
                    z-index: 1000;
                    align-self: center;
                }
            }
        }

        /* scrivere SOLO le proprietà da animare dell'oggetto */

        /* elementi da animare in entrata iniziale */

        &.message-enter {
            opacity: 0;
            top: 0;
            transition: all 0.3s ease-in-out;
            top: -1000px;

            .single {
                img {
                    transition: all 0.5s ease-in-out;
                    margin-left: -2000px;
                }
            }
        }

        /* elementi da animare in entrata finale */

        &.message-enter-done {
            opacity: 1;
            top: 0px;
            transition: all 0.5s ease-in-out;

            .single {
                img {
                    transition: all 0.5s ease-in-out;
                    transition-delay: 0.5s;
                    margin-left: 0px;
                }
            }
        }

        /* elementi da animare in uscita iniziale */

        &.message-exit {
            opacity: 1;
            top: 0px;
            transition: all 0.2s ease-in-out;
        }

        /* elementi da animare in uscita finale */

        &.message-exit-active {
            opacity: 0;
            top: -2000px;
            transition: all 1s ease-in-out;
        }
    }
}
