@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


html,
body {
  height: 100%;
}
.mainwrapper {
  position: relative;
}
$backgroundColor: #fff;
$textHoverColor: #259ccb;
$textColor: #444;
$fontTitle: 'dosis', sans-serif;
$fontText: 'Quicksand';
$blue: #259ccb;

.supporto {
  opacity: 0;
  width: 100%;
  left: -3000px;
  z-index: 200;
  transition: all 1s ease;
  position: absolute;
  min-height: 100%;
  text-align: center;
  &.isopen {
    left: 0;
    opacity: 1;
    min-height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2000;
    .boxsupporto {
      width: 100%;
      text-align: center;
    }
  }
}

.container-fluid {
  padding: 0;
  margin: 0;
}
.row {
  margin: 0;
}
.upscroll {
  padding: 1rem;
  color: white;
  background-color: $textHoverColor;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}
body {
  margin: 0;
  font-family: $fontText;
}
.bg-light {
  background-color: #fff !important; /*da reactstrap*/
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: $fontTitle;
  font-weight: bold;
  color: $textHoverColor;
} /*nomi delle sezioni*/
h2 {
  font-size: 1.5rem;
} /*da sostituire a span sotto i titoli */
p {
  font-size: 1rem;
}
.navbar-light {
  margin-top: 1.5rem;
  .navbar-brand {
    img {
      width: 250px;
    }
  }
  .navbar-nav li.nav-item a {
    font-family: $fontTitle;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 400ms all ease-in-out;
    &:hover {
      color: $textHoverColor;
    }
    .icona-supporto {
      vertical-align: bottom;
      margin-left: 1rem;
    }
  }
}
/*header*/
.wrapper-social {
  text-align: right;
  position: absolute;
  right: 2rem;
  top: 0;
}
/*     */
.outerSlide {
  height: 100%;

  .innerSlide {
    height: 841px;
    @media (max-width: 996px) {
      height: 381px;
    }
    @media (max-width: 560px) {
      height: 221px;
    }
  }
}
/*slider*/
#slider {
  margin: 0;
  padding: 0;
  .single {
    width: 100%;
    height: 100%;
  }
  .slick-next {
    right: 45px;
    z-index: 200;
  }
  .slick-prev {
    left: 45px;
    z-index: 200;
  }
  .slick-slide.slick-active.slick-current {
    .textslide {
      transition: 0.5s all ease-in-out;
      top: 0%;
    }
  }
  .slick-slide,
  .slick-slide.slick-cloned {
    .textslide {
      position: absolute;
      top: -100%;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 2rem 3rem 1.5rem 3rem;
      width: 400px;
      margin-left: 2rem;
      margin-top: 1rem;

      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.3rem;
        a {
          text-align: center;
          font-size: 2.5rem;
          padding: 0;
        }
      }
    }
  }
}

/*      */
.section-header {
  margin: 2rem 0;
  width: 100%;
}

/*lavori*/
.thumb-enter{
  opacity: 0;
  transition: all ease-in-out 1s;
    &.desc-enter-active{
      opacity: 1;
    }
  
  }
  .thumb-exit{
    opacity: 1;
    transition: all ease-in-out 1s;
      &.desc-exit-active{
        opacity: 0;
      }
    
    }
  
  
.desc-enter{
opacity: 0;
transition: all ease-in-out 1s;
  &.desc-enter-active{
    opacity: 1;
  }

}
.desc-exit{
  opacity: 1;
  transition: all ease-in-out 1s;
    &.desc-exit-active{
      opacity: 0;
    }
  
  }



section#lavori {
  text-align: center;
  position: relative;
}

.thumbnail {
  position: relative;
  margin: 1rem 0;
  overflow: hidden;
  height: 450px;
  &:hover {
    .caption {
      top: 0%;
      opacity: 1;
      .labelbox {
        position: absolute;
        bottom: 130px;
        opacity: 1;
        text-align: center;
      }
    }
  }

  .caption {
    position: absolute;
    top: -100%;
    opacity: 0;
    right: 0;
    background: rgba(66, 139, 202, 0.9);
    width: 100%;
    height: 100%;
    padding: 2%;
    text-align: center;
    color: #fff !important;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: white;
      font-size: 2rem;
    }
    p {
      text-align: left;
      padding: 0 1rem;
      font-size: 0.95rem;
      @media (max-width: 1199px) {
        font-size: 0.8rem;
        line-height: 1.8;
      }

      @media (max-width: 991px) {
        font-size: 1rem;
        padding: 1rem;
      }
      @media (max-width: 440px) {
        font-size: 0.8rem;
        padding: 1rem;
      }
    }

    .labelbox {
      position: absolute;
      transition: all 1s ease-in-out;
      bottom: -100px;
      opacity: 0;
      margin: 0 auto 1rem auto;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}
/**/

/* servizi*/
#servizi {
  text-align: center;
  background-image: url(../../assets/images/back-servizi.jpg);
  background-size: 1300px;
  background-position: 0px 0px;
  background-repeat: repeat-xy;
  animation: animatedBackground 40s linear infinite;
  padding: 2rem 0;
  h1 {
    color: white;
  }
 
  .boxservizi {
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    height: 250px;
    margin-bottom: 1rem;
    h1 {
      color: $textColor;
      font-size: 2rem;
    }
    p {
      text-align: justify;
    }
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

/*       */

/* contatti */
#contatti {
  text-align: center;
  .col-lg-12 {
    margin: 0;
    padding: 0;
    .mapbox {
      margin-bottom: 2rem;
    }
    .text {
      margin-top: 2rem;
      padding: 2rem;
      p {
        span {
          font-weight: bold;
        }
      }
    }
  }
}
/*         */

/* keyframes*/
@keyframes iconalavoro {
  0% {
    bottom: -100px;
  }

  100% {
    bottom: 100px;
  }
}
/*          */

/*footer*/
#footer {
  background-color: $textColor;
  padding: 2rem;
  color: white;
  .info {
    a {
      color: white;
    }
  }
}
/*     */
/*   divider   */
%lineadivider {
  content: '';
  position: absolute;
  width: 100%;
  top: 17px;
  left: 30px;
  height: 0;
  border-top: 1px solid #eee;
}
.divider {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 17px 0;
  margin-top: 17px;
  color: #6b99cc;
  width: 100%;
  margin-top: 50px !important;

  &:before {
    @extend %lineadivider;

    left: auto !important;
    right: 50%;
    margin-right: 20px;
    width: 15%;
  }
  &:after {
    @extend %lineadivider;
    left: 50% !important;
    right: auto !important;
    margin-left: 20px;
    width: 15%;
  }
  .divicona {
    color: $blue;
  }
}

/*      */
/* modal */
.modal-lg.modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
  height: 100%;
  .modal-content{
    height:100%;
    border:0;
    border-radius: 0;
  }
}

/*       */
